*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', sans-serif;
}

body {
scroll-behavior: smooth;
background: #0B0F19;
color: #F5F7FA;
padding-top: 80px;
}


header {
background: #070B14;
padding: 15px 50px;
position: fixed;
width: 100%;
top: 0;
z-index: 1000;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
color: #00E0D1;
font-weight: bold;
font-size: 20px;
}

nav ul {
display: flex;
list-style: none;
}

nav ul li {
margin-left: 20px;
}

nav ul li a {
color: #18C1B6;
text-decoration: none;
transition: 0.3s;
}

nav ul li a:hover {
color: #00E0D1;
}


.hero {
height: 100vh;
background: linear-gradient(135deg, #0B0F19, #070B14);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #F5F7FA;
}

.hero img {
border-radius: 50%;
margin-bottom: 30px;
width: 150px;
height: 150px;
object-fit: cover;
border: 4px solid #f3f8f8;
}

.hero h1 {
font-size: 60px;
color: #00E0D1;
letter-spacing: 2px;
}

.hero button {
padding: 10px 20px;
background: #00E0D1;
color: #070B14;
border: none;
border-radius: 25px;
cursor: pointer;
margin-top: 15px;
transition: 0.3s;
font-weight: bold;
}

.hero button:hover {
background: #18C1B6;
transform: scale(1.05);
}


.section {
padding: 80px 50px;
text-align: center;
scroll-margin-top: 100px;
}

.dark {
background: #070B14;
}


.skill {
margin: 20px 0;
}

.bar {
background: #111827;
height: 10px;
border-radius: 10px;
overflow: hidden;
}

.progress {
height: 10px;
border-radius: 10px;
transition: width 1s ease-in-out;
}

.html { width: 100%; background: #00E0D1; }
.css { width: 95%; background: #18C1B6; }
.js { width: 75%; background: #00BFA6; }


.cards {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
margin-top: 30px;
}

.card { 
background: #111827;
padding: 20px;
width: 250px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0,0,0.3);
transition: 0.3s;
color: #F5F7FA;
}

.card:hover {
transform: translateY(-8px);
box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}


footer {
background: #070B14;
color: #18C1B6;
text-align: center;
padding: 20px;
}